
@{
    ViewBag.Title = "Đăng nhập";
    ViewBag.IsLogin = false;
}
<div class="row">
    <div class="col-sm-4">
        @RenderPage("~/Views/Shared/Menu.cshtml")
    </div>
    <div class="col-md-8 col-sm-8">
        @RenderPage("~/Views/Shared/Login.cshtml")
    </div>
</div>