<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail" style="margin-top: 10px; margin-bottom: 10px; min-height: 100px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-download" style="font-size: 3em; margin:10px;"></span>
                        </div>
                        <div class="col-xs-8">
                            <h5><a href="/game/download">Tải game</a></h5>
                            <small><a href="/game">Hướng dẫn tải game</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="thumbnail" style="margin-top: 10px; margin-bottom: 10px; min-height: 100px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-user" style="font-size: 3em; margin:10px;"></span>
                        </div>
                        <div class="col-xs-8">
                            <h5><a href="/account/register">Đăng ký tài khoản</a></h5>
                            <small>Đăng ký tài khoản mới.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="thumbnail" style="margin-top: 10px; margin-bottom: 10px; min-height: 100px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-lock" style="font-size: 3em; margin:10px;"></span>
                        </div>
                        <div class="col-xs-8">
                            <h5><a href="/account/resetpassword">Quên mật khẩu</a></h5>
                            <small>Sử dụng mật khẩu cấp 2 để đổi mật khẩu cấp 1.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="thumbnail" style="margin-top: 10px; margin-bottom: 10px; min-height: 100px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-lock" style="font-size: 3em; margin:10px;"></span>
                        </div>
                        <div class="col-xs-8">
                            <h5><a href="/account/changepassword">Đổi mật khẩu cấp 1</a></h5>
                            <small>Mật khẩu dùng để đăng nhập vào game.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="thumbnail" style="margin-top: 10px; margin-bottom: 10px; min-height: 100px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-lock" style="font-size: 3em; margin:10px;"></span>
                        </div>
                        <div class="col-xs-8">
                            <h5><a href="/account/changesecpassword">Đổi mật khẩu cấp 2</a></h5>
                            <small>Mật khẩu quan trọng, dùng để thay đổi mật khẩu cấp 1, xóa nhân vật...</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>