@{
    ViewBag.Title = "Tải game";
}
<div class="row">
    <div class="col-sm-4">
        @RenderPage("~/Views/Shared/menu.cshtml")
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center text-uppercase">Game thủ chọn 1 trong các mục dưới đây</h2>
            </div>
            <div class="panel-body">
                <h3>Tải về giải nén ra là chiến:</h3>
                <ul>
                    <li>
                        Link trực tiếp: <a href="http://dl.volam.club/volam.club.1.0.0.zip">Tải ngay</a>
                    </li>
                    <li>
                        Link google drive: <a href="https://drive.google.com/uc?id=1yHNuvXXYq0hco-oo0pb7kW6OKV7qVXzT&export=download">Tải ngay</a>
                    </li>
                    <li>
                        Link fshare: <a href="https://www.fshare.vn/file/Q59JMABGZFTJ">Tải ngay</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
