
@{
    ViewBag.Title = "Hướng dẫn cài đặt";
}
<div class="row">
    <div class="col-sm-4">
        @RenderPage("~/Views/Shared/menu.cshtml")
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center text-uppercase">Hướng dẫn cài game</h2>
            </div>
            <div class="panel-body">
                <h3>Đang cập nhật...</h3>
            </div>
        </div>
    </div>
</div>

